body{
    background: #475B63;
}

.container{
    max-width: 500px;
}

input[type=text],input[type=text]:focus{
    color: #fff;
    background: rgba(0,0,0,0.2);
}

::-webkit-input-placeholder{
    font-weight: bold;
}


.todos li{
    background: #546f7a;
    /*f0efeb*/
}

.delete{
    cursor: pointer;
}